<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Corona Covid-19 Tracker </h1>
    <p class="lead">Covid-19 Tracker application written completely in angular.</p>
    <hr class="my-4">
    <p>It tracks Global cases (Active, Confirmed and Deaths) and segregates and displays country specific data as well..</p>
    
    <app-dashboard-card [totalConfirmed]='totalConfirmed'
    [totalActive] = 'totalActive' [totalRecovered]='totalRecovered'
    [totalDeaths]  = 'totalDeaths' ></app-dashboard-card>
  </div>
  
    
  
<div class="row">
  <div class="col"><google-chart [data]="pieChart"></google-chart></div>
  <div class="col"><google-chart [data]="columnChart"></google-chart></div>
</div>
  
  